/* Habit page container */
.habit {
  width: 100vw;
  margin-top: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Title of the habit age */
.habit > h1 {
  margin-bottom: 3rem;
}
/* Multiple daycard containers */
.daycards__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
