/* Home container */
.home {
  width: 100vw;
  margin-top: 50px;
  padding: 10px;
}

/* Habits cards container */
.habitcards__container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
}
